@import "@/styles/variables";
@import "@/styles/mixins";

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.7rem;
  justify-content: space-between;
  & div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 1 32.7%;
  }
}

[data-theme='dark'] .select {
  background-color: transparent;
  color: $primary-text-color;
  border-color: $secondary-color;

  & option {
    background-color: $primary-color;
    padding: 2rem;
  }
}
.salary {
  font-size: smaller;
  opacity: .8;
}

.button_group {
  padding-top: 1rem;
  flex-direction: row !important;
  justify-content: flex-end;
  flex: 1 1 100% !important;
  gap: 0.5rem !important;
}

@media screen and (max-width: 1250px) {
  .form {
    & div {
      flex: 1 1 48%;
    }
  }
}

@media screen and (max-width: 550px) {
  .form {
    & div {
      flex: 1 1 100%;
    }
  }
}