@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  max-width: $container-lg;
  margin: 0 auto;
  display: grid;
  place-items: center;
  min-height: 90vh;
}

.form {
  max-width: 400px;
  height: auto;
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  padding: 1.5rem;
  box-shadow: 0 0 10px 5px #ebebeb;
}
[data-theme='dark'] .form {
  box-shadow: none;
  border-color: $secondary-color;
}

.text_sm {
  font-size: $text-small;
  opacity: 0.8;
  margin-top: 0.5rem;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 0.7rem;
}

.button_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.link {
  padding: 0.6rem;
  border-radius: 0.3rem;
  text-align: center;
  @include custom-hover($hover-light);
  &_bordered {
    border: 1px solid #E2E8F0;
  }
}

[data-theme='dark'] .link {
  &_bordered {
    border-color: $secondary-color;
  }
  @include custom-hover($hover-dark);
}