@import '../../styles/mixins';

.container {
  display: grid;
  grid-auto-flow: column;
  position: relative;

  & figure {
    @include custom-hover($secondary-color);
    padding: 0.5rem;
    cursor: pointer;
  }
}

.switcher {
  &_center {
    left: -0.5rem;
  }
  @include custom-menu;
  background-color: $primary-color;
  @include custom-dark-border;
  &_toggleMenu {
    padding: 0.5rem;
    @include custom-hover($secondary-color)
  }
}
.burger {
  display: none;
}
.burger_active {
  opacity: 1;
  transition: .2s;
  pointer-events: auto;
}
.switcher.active {
  opacity: 1;
  transition: opacity .2s;
  pointer-events: auto;
}
[data-theme='light'] .switcher {
  background-color: $primary-text-color;
  @include custom-light-border;
  & div {
    @include custom-hover($hover-light)
  }
}

[data-theme='light'] .container > figure {
  @include custom-hover($hover-light)
}
[data-theme='light'] .menu__active {
  @include active-bg($hover-light);
}
.menu__active {
  @include active-bg($secondary-color);
}

@media screen and (max-width: 650px) {
  .burger {
    display: block;
  }
  .switcher {
    &__left {
      right: 2rem;
    }
  }
}