@import '@/styles/variables';
@import '@/styles/mixins';

.submit_button {
  @include primary-button;
}

.disabled {
  background-color: #868B94;
  cursor: auto;
}
[data-theme='dark'] .enabled {
  @include custom-hover($hover-light);
  background-color: $primary-text-color;
  color: $secondary-text-color;
}
.enabled {
  background-color: $primary-color;
  color: $primary-text-color;
}