@import "@/styles/variables";
@import "@/styles/mixins";

.modal_container {
  @include modal-container
}
.modal_container.active {
  opacity: 1;
  transition: opacity .3s;
  pointer-events: auto;
}
.modal {
  position: relative;
  min-width: 32rem;
  width: fit-content;
  height: auto;
  background-color: $primary-color;
  border-radius: 0.6rem;
  @include custom-dark-border;
  padding: 1.5rem;
}
[data-theme='light'] .modal {
  background-color: $primary-text-color;
  @include custom-light-border;
}
[data-theme='light'] .modal_container {
  background-color: rgba(0, 0, 0, 0.1);
}
.cancel {
  position: absolute;
  right: 1rem;
  width: fit-content;
  opacity: .5;
  &:hover {
    opacity: .8;
  }
}