$primary-color: #020617;
$secondary-color: #182231;
$primary-text-color: #fff;
$secondary-text-color: black;
$listings-text-primary: rgb(148 163 184);
$container-lg: 85rem;
$text-small: 0.8rem;
$hover-light: #f3f4f6;
$hover-dark: $secondary-color;
$light-border: #E2E8F0;
$dark-border: $secondary-color;
$table-hover: #0F141FF9;
$table-item-hover: #182231FF;
$table-light-hover: #F8FAFC;