@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $primary-color;
  color: $primary-text-color;
  font-family: serif;
}

[data-theme='light'] body {
  background-color: $primary-text-color;
  color: $secondary-text-color;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
}
label {
  width: fit-content;
}
li {
  list-style: none;
  cursor: pointer;
}

h1 {
  font-size: 2.8rem;
}

input:focus {
  outline: 2px solid #9aa8b7;
  outline-offset: 0.125rem;
}

[data-theme='dark'] input:focus {
  outline-color: $secondary-color;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: $container-lg;
  margin: 2rem auto;
  gap: 2rem;
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1400px)  {
  .container {
    padding: 0 1rem;
  }
}