@import "@/styles/variables";
@import "@/styles/mixins";


.table {
  width: 100%;
  @include custom-light-border;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
@media screen and (max-width: 550px) {
  .table_head {
    min-width: 30rem;
  }
  .table_body {
    min-width: 30rem;
  }
  .table {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}