@import "@/styles/variables";
@import "@/styles/mixins";

.table {
  width: 100%;
  @include custom-light-border;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.table_head {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  border-bottom: 1px solid $light-border;
  padding: 0.8rem;

  &__item {
    color: #1E293B;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0.4rem;
    border-radius: 0.3rem;
    width: fit-content;
    &:hover {
      background-color: $hover-light;
    }
    &_active {
      background-color: $hover-light;
    }
  }
}

.table_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  padding: 1.4rem 0.8rem;
}

.table_body:not(:last-child) {
  border-bottom: 1px solid $light-border;
}

.dots {
  position: relative;
}

// menu section
.menu {
  display: none;
  position: absolute;
  border-radius: .5rem;
  background-color: #fff;
  z-index: 10;
  @include custom-light-border;
  padding: 0.2rem;
  top: 2rem;
  left: -6.7rem;

  &_item {
    position: relative;
    height: 2rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;

    &:hover {
      @include custom-hover($hover-light);
    }
  }
}

.menu_active {
  pointer-events: auto;
  display: block;
}

// menu ends

// Status menu

.status {
  position: absolute;
  left: 7rem;
  padding: 0.2rem;
  opacity: 0;
  pointer-events: none;
  top: 0.2rem;
  width: 9rem;
  background-color: #fff;
  @include custom-light-border;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

  &_item {
    padding: 0.5rem;
    @include custom-hover($hover-light);
    display: flex;
    align-items: center;
    & span {
      margin-left: 0.5rem;
    }
  }
  &_marker::before {
      content: '';
      position: relative;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $primary-color;
  }

  &_active {
    opacity: 1;
    pointer-events: auto;
  }
}

// status menu ends

@media screen and (max-width: 550px) {
  .table_head {
    min-width: 30rem;
  }
  .table_body {
    min-width: 30rem;
  }
  .table {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 950px) {
  .status {
    right: 7rem;
    left: auto;
  }
}

//sort menu
.sort {
  display: none;
  padding: 0.3rem;
  background-color: #fff;
  @include custom-light-border;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 8rem;
  border-radius: 0.5rem;
  top: 2rem;
  left: 0.2rem;
  & div {
    padding: 0.2rem;
    pointer-events: auto;
    &:hover {
      @include custom-hover($hover-light);
    }
  }
  &_active {
    display: flex;
  }
}

//sort ends