@import "@/styles/variables";
@import "@/styles/mixins";


.logo {
  color: $primary-text-color;
  animation: spin 1s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

[data-theme='light'] .logo svg {
  color: $secondary-text-color;
}