@import "../../styles/variables";
@import '../../styles/mixins';

.header {
  border-bottom: 1px solid $primary-text-color;
  padding: 0.8rem;

  &__section {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: $container-lg;
    margin: 0 auto;
  }
}

.header_menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.9rem;
}

[data-theme='light'] .header {
  border-bottom: 1px solid $hover-light;
}

@media screen and (max-width: 650px) {
  .header__section {
    padding: 0 2.5rem;
  }
}