@import "@/styles/variables";
@import "@/styles/mixins";

.menu {
  display: none;
  position: absolute;
  border-radius: .5rem;
  background-color: #fff;
  z-index: 10;
  @include custom-light-border;
  padding: 0.2rem;
  top: 2rem;
  left: -6.7rem;

  &_item {
    position: relative;
    height: 2rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    &:hover {
      @include custom-hover($hover-light);
    }
  }
}

.menu_active {
  pointer-events: auto;
  display: block;
}