@import "@/styles/variables";
@import "@/styles/mixins";


.select_button {
  height: 2.46rem;
  border-radius: 0.4rem;
  @include custom-dark-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem;
  & svg {
    opacity: .6;
  }
  &:focus {
    outline: 2px solid $dark-border;
    outline-offset: 0.125rem;
  }
}

[data-theme='light'] .select_button {
  border-color: $light-border;
  &:focus {
    outline-color: #9aa8b7;
  }
}


.select_button__text {
  font-size: small;
}

.options {
  display: none;
  position: absolute;
  top: 4.8rem;
  padding: 0.3rem;
  width: 100%;
  z-index: 10;
  background-color: $primary-color;
  @include custom-dark-border;
  border-radius: 0.4rem;
  font-size: 0.875rem;
  &_item {
    display: flex;
    gap: 0.5rem;
  }
  & li {
    cursor: default;
    padding: 0.6rem 0.6rem;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
[data-theme='light'] .options {
  background-color: $primary-text-color;
  border-color: $light-border;
  & li:hover {
    background-color: $hover-light;
  }
}
.options.active {
  display: block;
  @include menu-animation;
  pointer-events: auto;
}
.options_item__checkmark {
  min-width: 1rem;
  opacity: .8;
}


