@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  position: relative;
  align-self: center;
}
.hovered {
  padding: 0.5rem !important;
  @include custom-hover($hover-dark);
}
[data-theme='light'] .hovered {
  @include custom-hover($hover-light);
}
.profile_button {
  color: $primary-text-color;
  font-size: 0.875rem;
  width: 100%;
  overflow: hidden;
  padding: 0.852rem !important;
}
.profile_button.active {
  background-color: $hover-dark;
  border-radius: 0.3rem;
  cursor: pointer;
}
[data-theme='light'] .profile_button.active {
  background-color: $hover-light;
}
[data-theme='light'] .profile_button {
  color: $secondary-text-color;
}
.profile_menu {
  @include custom-menu;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $primary-color;
  padding: 0.2rem;
  @include custom-dark-border;
}
.profile_menu.active {
  opacity: 1;
  transition: opacity .2s;
  pointer-events: auto;
}
.divider {
  width: 100%;
  margin: 0.2rem 0;
  height: 1px;
  background-color: $dark-border;
}
[data-theme='light'] .profile_menu {
  @include custom-light-border;
  background-color: $primary-text-color;
}
[data-theme='light'] .divider {
  background-color: $light-border;
}
@media screen and (max-width: 650px) {
  .profile_menu {
    left: -4rem;
    top: 0.45rem;
  }
  .container {
    align-self: auto;
  }
}