@import "../../styles/variables";
@import '../../styles/mixins';

.header {
  border-bottom: 1px solid $primary-text-color;
  padding: 0.8rem;

  &__section {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    max-width: $container-lg;
    margin: 0 auto;
  }
}

.header__menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.9rem;

  & a {
    padding: 0.8rem;
    @include custom-hover($secondary-color);
  }
}

[data-theme='light'] .header {
  border-bottom: 1px solid $hover-light;

  & a {
    @include custom-hover($hover-light)
  }
}

@media screen and (max-width: 650px) {
  .menu__hidden {
    display: none;
  }
}