@import "@/styles/variables";
@import "@/styles/mixins";


.listings {
  border-radius: 0.5rem;
  @include custom-light-border;
  padding: 1.5rem;
  max-width: 33%;

  &_item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  &_modalView {
    border: none;
    padding: 0;
    width: 40rem;
    max-width: none;
  }
}

.subtitle {
  color: $listings-text-primary;
  font-size: smaller;
}

.location {
  padding: 0.2rem 0;
}

.summary {
  @include summary-section($hover-light);
}
[data-theme='dark'] .summary {
  @include summary-section($hover-dark);
}
.description {
  padding: 1.3rem 0;
  word-break: break-word;
}
.listings_footer {
  display: flex;
  flex-direction: column;
  & button {
    align-self: end;
  }
}

.jobLink {
  @include primary-button;
  @include custom-hover($hover-dark);
  padding: 0 0.7rem;
  background-color: $primary-color;
  color: $primary-text-color;
  margin-top: 1rem;
  height: 2.29rem !important;
  font-size: 0.875rem;
  & svg {
    margin-left: 0.5rem;
    opacity: .7;
  }
}
[data-theme='dark'] .jobLink {
  @include custom-hover($hover-light);
  background-color: $primary-text-color;
  color: $secondary-text-color;
}
[data-theme='dark'] .listings {
  border-color: $dark-border;
}