@import '@/styles/variables';
@import '@/styles/mixins';

.submit_button {
  @include primary-button;
}

.disabled {
  background-color: #868B94;
  cursor: auto;
}

.enabled {
  background-color: $primary-text-color;
  color: $secondary-text-color;
  @include custom-hover($hover-light);
}

[data-theme='light'] .enabled {
  @include custom-hover($hover-dark);
  background-color: $primary-color;
  color: $primary-text-color;
}