@import "@/styles/mixins";
@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: $container-lg;
  margin: 2rem auto;
  gap: 2rem;
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1400px)  {
  .container {
    padding: 0 1rem;
  }
}
