@import "@/styles/variables";
@import "@/styles/mixins";

.input {
  background-color: transparent;
  padding: 0.7rem;
  outline: none;
  @include custom-dark-border;
  border-radius: 0.4rem;
  color: $primary-text-color;
}
[data-theme='light'] .input {
  color: $primary-color;
  @include custom-light-border;
}