@import '@/styles/mixins';
@import '@/styles/variables';

.listings {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &_wrapper {
    flex: 0 0 32.333%;
    border-radius: 0.5rem;
    @include custom-dark-border;
    padding: 1.5rem;
  }

  &_item {
    display: flex;
  }
}

.draft {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: $hover-light;
  color: $secondary-text-color;
}

[data-theme='light'] .draft {
  background-color: $secondary-text-color;
  color: $primary-text-color;
}

[data-theme='light'] .listings_wrapper {
  @include custom-light-border;
}

.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-weight: 600;
  }
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;

  & p {
    padding-top: 1rem;
    font-size: small;
  }
}

.subtitle {
  color: $listings-text-primary;
  font-size: smaller;
}

.summary {
  @include summary-section($hover-dark);
}

[data-theme='light'] .summary {
  @include summary-section($hover-light);
}

.location {
  padding-top: 0.2rem;
}

.description {
  padding: 1.3rem 0;
}

.listings_previewWrapper {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1300px) {
  .listings_wrapper {
    flex: 0 1 49%;
  }
}

@media screen and (max-width: 860px) {
  .listings_wrapper {
    flex: 1 1 auto;
  }
}

.listings_btnGroup {
  display: flex;
  & button {
    display: flex;
    padding: 0.875rem;
    @include custom-hover($hover-dark);
    border-radius: 50% !important;
    transition: background-color .3s;
  }
}

.hidden {
  opacity: .7;
  display: none;
}
.showHidden {
  display: block;
}