@import "@/styles/variables";
@import "@/styles/mixins";

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  & div {
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}